.SideBar button {
  background: none !important;
  border: none;
  padding: 0 !important;
  cursor: pointer;
}

.SideBar button:focus {
  outline: none;
}

.SideBar button:hover {
  text-decoration: underline;
}
