.QuestionNumber {
  margin: 2rem;
  text-align: center;
  font-size: 2rem;
}

.QuestionContainer {
  display: block;
  border: 2px solid black;
  border-radius: 10px;
  padding: 1.5rem;
}

.OptionContainer {
  padding: 0.5rem;
}

.OptionContainer button {
  width: 100%;
  height: 4rem;
  background-color: white;
  padding: 1rem;
  border: 2px solid #627dc2;
  border-radius: 10px;
  text-align: left;
}

.OptionContainer button:focus {
  background-color: limegreen;
}
