.header {
  text-align: center;
  margin: 1rem;
  font-size: 2rem;
}

.buttons {
  background: none !important;
  border: none;
  padding: 1rem;
  color: #069;
  cursor: pointer;
  outline: none;
}

.buttons:hover {
  text-decoration: underline;
}

.awardInfo {
  text-align: center;
}
