.Profile {
  margin-top: 2rem;
}

.displaypic {
  width: 80%;
  height: auto;
  border: 3px solid black;
}

.buttons {
  background: none !important;
  border: none;
  padding: 0 !important;
  color: #069;
  cursor: pointer;
  outline: none;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}

.buttons:hover {
  text-decoration: underline;
}

.profileDescription {
  padding-left: 0.5rem;
}

.username {
  padding-bottom: 0.5rem;
  font-size: 20px;
  font-weight: 700;
}
