.award:hover {
  color: black;
  box-shadow: 0 0 10px;
  cursor: pointer;
}

.award {
  text-decoration: none;
  color: black;
}

.cardTitle {
  text-align: center;
}

.cardTitleTechnology {
  text-align: center;
  font-size: 2px;
}
