.Clock {
  margin-top: 19rem;
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  padding: 1rem 0rem;
}

.ClockFinishing {
  color: red;
  margin-top: 19rem;
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  padding: 2rem 0rem;
}

.FinalScore {
  margin: 2rem;
  padding: 5rem;
  text-align: center;
  font-size: 1.5rem;
  border: 1px solid black;
}

.award {
  font-size: 1rem;
}

.pointsEarned {
  font-size: 1rem;
}

.UnselectedQuiz {
  margin: 2rem;
  padding: 5rem;
  text-align: center;
  font-size: 1.5rem;
  border: 1px solid black;
}

.Processing {
  padding: 5rem;
  text-align: center;
  font-size: 1.5rem;
}

.Message {
  font-size: 1rem;
  text-align: center;
}

.questionStatus {
  font-size: 2rem;
}

@media only screen and (min-width: 768px) {
  .questionStatus {
    font-size: 2rem;
  }
  .Clock {
    border: 1px solid black;
    background-color: wheat;
  }
  .ClockFinishing {
    border: 1px solid black;
    background-color: wheat;
  }
}

@media only screen and (max-width: 767px) {
  .questionStatus {
    font-size: 2rem;
  }
  .Clock {
    border: 1px solid black;
    background-color: wheat;
  }
  .ClockFinishing {
    border: 1px solid black;
    background-color: wheat;
  }
}

@media only screen and (max-width: 670px) {
  .questionStatus {
    font-size: 1.05rem;
  }
  .Clock {
    border: none;
    background-color: white;
  }
  .ClockFinishing {
    border: none;
    background-color: white;
  }
}
